apiVersion: v1
kind: Template
metadata:
  name: qgis-server
  annotations:
    description: "Creates deploymentConfig for qgis-server"
parameters:
  - description: The OpenShift Namespace where the QGIS Server ImageStream resides
    name: NAMESPACE
  - description: Image Stream Tag
    name: TAG
  - description: Environment
    name: ENVIRONMENT
  - description: Number of Replicas
    name: REPLICAS
  - description: Minimum number of QGIS Server FCGI processes requested
    name: QGIS_FCGI_MIN_PROCESSES
    value: "0"
  - description: Maximum number of QGIS Server FCGI processes allowed
    name: QGIS_FCGI_MAX_PROCESSES
    value: "4"
  - description: Log level
    name: LOG_LEVEL
    value: "2"
  - description: cpu request
    name: CPU_REQUEST
  - description: cpu limit
    name: CPU_LIMIT
  - description: Memory Request
    name: MEMORY_REQUEST
  - description: Memory Limit
    name: MEMORY_LIMIT
labels:
  app: qgis-server
objects:
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    annotations:
      openshift.io/generated-by: OpenShiftWebConsole
    generation: 1
    labels:
      service: qgis-server
      app: qgis-server
    name: qgis-server
  spec:
    replicas: ${{REPLICAS}}
    selector:
      service: qgis-server
    strategy:
      activeDeadlineSeconds: 21600
      resources: {}
      rollingParams:
        intervalSeconds: 1
        maxSurge: 0
        maxUnavailable: 10%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        annotations:
          openshift.io/generated-by: OpenShiftWebConsole
        labels:
          service: qgis-server
          app: qgis-server
      spec:
        containers:
        - env:
          - name: LOG_LEVEL
            value: ${LOG_LEVEL}
          - name: QGIS_FCGI_MIN_PROCESSES
            value: ${QGIS_FCGI_MIN_PROCESSES}
          - name: QGIS_FCGI_MAX_PROCESSES
            value: ${QGIS_FCGI_MAX_PROCESSES}
          image: docker-registry.default.svc:5000/${NAMESPACE}/qgis-server:${TAG}
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: index.html
              port: 80
              scheme: HTTP
            initialDelaySeconds: 1
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 8
          name: sogis-qgis-server
          ports:
          - containerPort: 80
            protocol: TCP
          readinessProbe:
            failureThreshold: 1
            httpGet:
              path: index.html
              port: 80
              scheme: HTTP
            initialDelaySeconds: 1
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 5
          resources:
            limits:
              cpu: ${CPU_LIMIT}
              memory: ${MEMORY_LIMIT}
            requests:
              cpu: ${CPU_REQUEST}
              memory: ${MEMORY_REQUEST}
          terminationMessagePath: /dev/termination-log
          volumeMounts:
          - mountPath: /data/symbols
            name: qgs-resources
            subPath: symbols
          - mountPath: /data/print
            name: qgs-resources
            subPath: print
          - mountPath: /geodata
            name: datensogispicmir
          - mountPath: /etc/postgresql-common
            name: qgis-server-config-claim
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - secret:
            items:
            - key: pg_service.conf
              path: pg_service.conf
            secretName: qgis-server-pg-config
          name: qgis-server-config-claim
        - name: qgs-resources
          persistentVolumeClaim:
            claimName: qgs-resources-claim1
        - name: datensogispicmir
          persistentVolumeClaim:
            claimName: datensogispicmir-claim-${ENVIRONMENT}
    test: false
    triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
        - sogis-qgis-server
        from:
          kind: ImageStreamTag
          name: qgis-server:${TAG}
          namespace: ${NAMESPACE}
